# DEFAULT NUMBER OF OBJECTS PER PAGE
PER_PAGE=9

#django secret key
SECRET_KEY='CHANGE-ME'

# 0 = False - 1 = TRUE
DEBUG = 1

# 0 = False - 1 = True 
SELENIUM_HEADLESS = 0

# Data settings 
# Sqlite 
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = './db.sqlite3' 

# Postgres 
# DATABASE_ENGINE='django.db.backends.postgresql'
# DATABASE_NAME="basededados"

DATABASE_USER = "usuario"
DATABASE_PASSWORD = "senha"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"